* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat";
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  /* cursor: none; */
}
.screen {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.head1 {
  background-color: aqua;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: xx-large;
  padding-top: 4vh;
}
.play1 {
  background-color: rgb(142, 45, 127);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  font-size: xx-large;
}
.points1 {
  background-color: rgb(37, 26, 15);
  position: absolute;
  height: 20vh;
  width: 100%;
  bottom: 0;
}
